Catrobat/Models/v098/__CantrobatLanguage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

  <!-- Main element -->
  <xs:element name="program">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="header"/>
        <xs:element name="objectList">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="object" type="object" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="data">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="objectListOfList"></xs:element>
              <xs:element name="objectVariableList"></xs:element>
              <xs:element name="programListOfLists"></xs:element>
              <xs:element name="programVariableList"></xs:element>
              <xs:element name="userBrickVariableList"></xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="settings"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Header definition -->
  <xs:complexType name="header">
    <xs:sequence>
      <xs:element name="applicationBuildName" type="xs:string"/>
      <xs:element name="applicationBuildNumber" type="xs:int"/>
      <xs:element name="applicationName" type="xs:string"/>
      <xs:element name="applicationVersion" type="xs:string"/>
      <xs:element name="catrobatLanguageVersion" type="xs:string"/>
      <xs:element name="dateTimeUpload" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="deviceName" type="xs:string"/>
      <xs:element name="landscapeMode" type="xs:string"/>
      <xs:element name="mediaLicense" type="xs:string"/>
      <xs:element name="platform" type="xs:string"/>
      <xs:element name="platformVersion" type="xs:string"/>
      <xs:element name="programLicense" type="xs:string"/>
      <xs:element name="programName" type="xs:string"/>
      <xs:element name="remixOf" type="xs:string"/>
      <xs:element name="screenHeight" type="xs:int"/>
      <xs:element name="screenMode" type="xs:string"/>
      <xs:element name="screenWidth" type="xs:int"/>
      <xs:element name="tags" type="xs:string"/>
      <xs:element name="url" type="xs:string"/>
      <xs:element name="userHandle" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Formular definition -->
  <xs:complexType name="formula">
    <xs:sequence>
      <xs:element name="leftChild" type="formula"/>
      <xs:element name="rightChild" type="formula"/>
      <xs:element name="type" type="xs:string"/>
      <xs:element name="value" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="category" type="xs:string"/>
  </xs:complexType>

  <!-- Referencing element UserVariable -->
  <xs:complexType name="UserVariable">
    <xs:simpleContent>
      <xs:extension base ="xs:string">
        <xs:attribute name="reference" type="xs:string">
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- Referencing element look definition -->
  <xs:complexType name="look">
    <xs:sequence>
      <xs:element name="fileName" type="xs:string"></xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string"></xs:attribute>
    <xs:attribute name="reference" type="xs:string"/>
  </xs:complexType>

  <!-- Referencing element sound definition -->
  <xs:complexType name="sound">
    <xs:sequence>
      <xs:element name="fileName" type="xs:string"></xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string"></xs:attribute>
    <xs:attribute name="reference" type="xs:string"/>
  </xs:complexType>
  
  <!-- Object definition -->
  <xs:complexType name="object">
    <xs:sequence>
      <xs:element name="lookList">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="look" type="look" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="soundList">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="sound" type="sound" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="scriptList">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="script" type="script" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="userBricks"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

  <!-- Script definition -->
  <xs:complexType name="script">
    <xs:sequence>
      <xs:element name="brickList">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="brick" type="brick" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="StartScript">
    <xs:complexContent>
      <xs:extension base="script">
        <xs:sequence>
          <xs:element name="isUserScript" type="xs:boolean"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BroadcastScript">
    <xs:complexContent>
      <xs:extension base="script">
        <xs:sequence>
          <xs:element name="receivedMessage" type="xs:string"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="WhenScript">
    <xs:complexContent>
      <xs:extension base="script">
        <xs:sequence>
          <xs:element name="action" type="xs:string"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Brick definition -->
  <xs:complexType name="brick" />

  <xs:complexType name="ForeverBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:all/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SetXBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:all>
          <xs:element name="formulaList">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="formula" type="formula" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="isUserScript" type="xs:boolean"></xs:element>
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SetLookBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:all>
          <xs:element name="look" type="look" />
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PlaySoundBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:all>
          <xs:element name="sound" type="sound" />
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SetVolumeToBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:all>
          <xs:element name="formulaList">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="formula" type="formula" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ChangeVolumeByNBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:all>
          <xs:element name="formulaList">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="formula" type="formula" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="NoteBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:all>
          <xs:element name="formulaList">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="formula" type="formula" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SetSizeToBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:all>
          <xs:element name="formulaList">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="formula" type="formula" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PlaceAtBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:all>
          <xs:element name="formulaList">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="formula" type="formula" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="VariableBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:all>
          <xs:element name="formulaList">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="formula" type="formula" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="inUserBrick" type="xs:boolean"></xs:element>
          <xs:element name="userVariable" type="UserVariable" />
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SetVariableBrick">
    <xs:complexContent>
      <xs:extension base="VariableBrick">
        <xs:all/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ChangeVariableBrick">
    <xs:complexContent>
      <xs:extension base="VariableBrick">
        <xs:all/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ShowBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:all/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="WaitBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:all>
          <xs:element name="formulaList">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="formula" type="formula" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IfLogicBeginBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:all>
          <xs:element name="formulaList">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="formula" type="formula" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PointInDirectionBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:all>
          <xs:element name="formulaList">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="formula" type="formula" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GlideToBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:all>
          <xs:element name="formulaList">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="formula" type="formula" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StopAllSoundsBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:all/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IfLogicElseBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:all/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IfLogicEndBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:all/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BroadcastBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:all>
          <xs:element name="broadcastMessage" type="xs:string"></xs:element>
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ChangeYByNBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:all>
          <xs:element name="formulaList">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="formula" type="formula" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="LoopEndlessBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:all/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RepeatBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:all>
          <xs:element name="formulaList">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="formula" type="formula" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="LoopEndBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:all/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TurnLeftBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:all>
          <xs:element name="formulaList">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="formula" type="formula" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TurnRightBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:all>
          <xs:element name="formulaList">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="formula" type="formula" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="NextLookBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:all/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ComeToFrontBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:all/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GoNStepsBackBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:all>
          <xs:element name="formulaList">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="formula" type="formula" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="HideBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:all/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SetTransparencyBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:all>
          <xs:element name="formulaList">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="formula" type="formula" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SetYBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:all>
          <xs:element name="formulaList">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="formula" type="formula" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="MoveNStepsBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:all>
          <xs:element name="formulaList">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="formula" type="formula" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IfOnEdgeBounceBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:all/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  

  <xs:complexType name="ShowTextBrick">
    <xs:complexContent>
      <xs:extension base="brick">
        <xs:all>
          <xs:element name="formulaList">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="formula" type="formula" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="inUserBrick" type="xs:boolean"></xs:element>
          <xs:element name="userVariable" type="UserVariable" />
          <xs:element name="userVariableName" type="xs:string" />
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>
